@font-face {
  font-family:"SFPro";
  font-weight:100;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Ultralight.woff2) format("woff2"),
    url(../fonts/SFPro-Display-Ultralight.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:100;
  font-style:italic;
  src:url(../fonts/SFPro-Display-UltralightItalic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-UltralightItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:200;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Thin.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Thin.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:200;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Thin-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-ThinItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:300;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Light.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Light.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:300;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Light-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-LightItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:400;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Regular.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Regular.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:400;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-RegularItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:500;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Medium.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Medium.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:500;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Medium-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-MediumItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:600;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Semibold.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Semibold.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:600;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Semibold-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-SemiboldItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:700;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Bold.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Bold.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:700;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Bold-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-BoldItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:800;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Heavy.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Heavy.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:800;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Heavy-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-HeavyItalic.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:900;
  font-style:normal;
  src:url(../fonts/SFPro-Display-Black.woff2) format("woff2"),
  url(../fonts/SFPro-Display-Black.ttf) format("truetype");
  font-display: fallback;
}
@font-face {
  font-family:"SFPro";
  font-weight:900;
  font-style:italic;
  src:url(../fonts/SFPro-Display-Black-Italic.woff2) format("woff2"),
  url(../fonts/SFPro-Display-BlackItalic.ttf) format("truetype");
  font-display: fallback;
}
body {
  font-family: SFPro, Arial, sans-serif;
  font-size: 18px;
  position: relative;
  font-weight: 500;
  color:$font-color;
}
strong{
  font-weight: 700;
  color: $font-color;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: $blue-color;
  cursor: pointer;
}
.title-article{
  font-size: 48px;
  font-weight: 700;
}
.title-desk{
  font-size: 21px;
  font-weight: 500;
}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: $tablet){
  .container {
  width: 1000px
  }
}
@media(max-width: $small-tablet){
  .container {
  width: 750px
  }
}
@media(max-width: $large-mobile){
  .container {
  width: 600px
  }
}
@media(max-width: $mobile){
  .container {
  width: 410px
  }
}
@media(max-width: $small-mobile){
  .container {
  width: 300px
  }
}
