@mixin flexDsp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@mixin pseudoEl($width, $height) {
  display: block;
  content: "";
  width: $width;
  height: $height;
  position: absolute;
}
@mixin firstLet {
  &::first-letter{
    color: $blue-color;
  }
}
