.banner-contact{
  padding: 35px 0 55px;
  background-color: #f8f8f8;
}
.main-contact{
  background-color: #f8f8f8;
  padding-bottom: 65px;
  background-image: url(../img/contact-bg-2.png);
  background-position: 93.8% 485px;
  background-repeat: no-repeat;
}
.contact-page{
  padding: 0 5px;
  background-image: url(../img/contact-bg-1.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  @include flexDsp();
  &__title{
    @include firstLet();
    margin-top: 0;
    font-size: 48px;
    font-weight: 700;
  }
  &__first-col{
    flex-basis: 50%;
  }
  &__second-col{
    flex-basis: 50%;
  }
  &__adress{
    padding-left: 32px;
    position: relative;
    &::before{
      position: absolute;
      content:"";
      background-image: url(../img/icons/placeholder-black.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 28px;
      top: -7px;
      display: block;
      left: -2px;
    }
    & span{
      font-size: 13px;
      display: block;
      margin-top: 2px;
      text-transform: uppercase;
    }
  }
  &__phone{
    padding-left: 32px;
    margin-top: 30px;
    position: relative;
    &::before{
      position: absolute;
      content:"";
      background-image: url(../img/icons/call-black.svg);
      background-repeat: no-repeat;
      width: 23px;
      height: 23px;
      top: -6px;
      display: block;
      left: -2px;
    }
    & a{
      color: $font-color;
    }
    & span{
      display: block;
      font-size: 12px;
    }
  }
  &__mail{
    padding-left: 32px;
    margin-top: 30px;
    position: relative;
    &::before{
      position: absolute;
      content:"";
      background-image: url(../img/icons/email-black.svg);
      background-repeat: no-repeat;
      width: 22px;
      height: 23px;
      top: -5px;
      display: block;
      left: -2px;
    }
    & a{
      color: $font-color;
    }
    & span{
      display: block;
      font-size: 12px;
    }
  }
  &__proezd{
    & h2{
      margin-top: 70px;
      font-size: 30px;
      font-weight: 700;
      @include firstLet();
      margin-bottom: 16px;
    }
    & p{
      margin-top: 0;
      padding-right: 180px;
      font-size: 15px;
    }
  }
}
.callback-block{
  padding-left: 10px;
  box-sizing: border-box;
  &__title{
    font-size: 30px;
    font-weight: 700;
    @include firstLet();
    text-align: center;
  }
}
.forma{
  padding: 35px 40px 55px;
  width: 480px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e6e6;
  & label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 20px;
  }
  & input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    height: 53px;
    border-radius: 5px;
    font-size: 15px;
    padding: 18px 23px 18px;
    &:focus{
      border: 2px solid #c5c5c5;
      box-sizing: border-box;
      outline: none;
    }
  }
  & input[type="submit"] {
    margin-top: 35px;
    width: 166px;
    height: 51px;
    background-color: $blue-color;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    &:focus{
      border: 0;
    }
    &:hover{
      background-color: #5257E6;
    }
  }
  & textarea{
      resize: none;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    height: 125px;
    padding: 18px 23px 18px;
    &:focus{
      border: 2px solid #c5c5c5;
      box-sizing: border-box;
      outline: none;
    }
  }
}
@media(max-width: $tablet) {
  .main-contact{
    background-image: none;
  }
  .contact-page{
    padding: 0 20px;
    background-position: 2% 100%;
  }
  .callback-block {
    padding-left: 0;
    &__title {
      margin-top: 10px;
    }
  }
  .contact-page__proezd p{
    padding-right: 105px;
  }
}
@media (max-width: $small-tablet) {
  .contact-page__first-col, .contact-page__second-col {
    flex-basis: 50%;
  }
  .forma{
    width: auto;
  }
}
@media (max-width: $mobile) {
  .banner-contact{
    padding-bottom: 30px;
  }
  .contact-page__title{
    text-align: center;
    font-size: 28px;
  }
  .contact-page__first-col, .contact-page__second-col{
    flex-basis: 100%;
  }
  .contact-page__first-col{
    padding: 0 15px;
  }
  .contact-page__title{
    margin-bottom: 35px;
  }
  .contact-page {
    padding: 0;
  }
  .contact-page__proezd h2{
    font-size: 28px;
    margin-top: 60px;
  }
  .contact-page__proezd p{
    padding-right: 0;
  }
  .callback-block__title{
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .forma{
    max-width: 500px;
    width: 100%;
    padding: 35px 15px 55px 10px;
    box-sizing: border-box;
  }
  .forma input[type="submit"]{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .main-contact{
    padding-bottom: 0;
  }
}
