.feature{
  background-color: $bg-black;
}
.features{
  @include flexDsp();
  color: #ffffff;
  &__item{
    flex-basis: 25%;
    padding-top: 125px;
    padding-bottom: 70px;
    text-align: center;
    position: relative;
    & p {
      margin: 0;
      padding: 0 33px;
    }
    &--price::before{
      @include pseudoEl(43px,52px);
      background-image: url(../img/icons/tag.svg);
      background-size: cover;
      top: 48px;
      left: 130px;
    }
    &--repair::before{
      @include pseudoEl(47px,47px);
      background-image: url(../img/icons/settings.svg);
      background-size: cover;
      top: 53px;
      left: 124px;
    }
    &--auto::before{
      @include pseudoEl(45px,45px);
      background-image: url(../img/icons/wrench.svg);
      background-size: cover;
      top: 53px;
      left: 124px;
    }
    &--tv::before{
      @include pseudoEl(45px,32px);
      background-image: url(../img/icons/wifi-light.svg);
      background-size: cover;
      top: 60px;
      left: 124px;
    }
  }
}
@media(max-width: $tablet) {
  .features__item--price::before{
    left: 102px;
}
  .features__item--repair{
    &::before{
      left: 105px;
    }
    & p{
      padding: 0 10px;
    }
  }
  .features__item--auto::before{
    left: 100px;
  }
  .features__item--tv::before{
    left: 105px;
  }
}
@media(max-width: $small-tablet) {
  .features__item p {
    padding: 0 15px;
    font-size: 15px;
  }
  .features__item--price::before{
    left: 70px;
  }
  .features__item--repair{
    &::before{
      left: 70px;
    }
  }
  .features__item--auto::before{
    left: 70px;
  }
  .features__item--tv::before{
    left: 70px;
  }
}
@media(max-width: $mobile) {
  .features {
    padding: 20px 30px 85px;
    &__item{
      flex-basis: 100%;
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0;
      padding-top: 100px;
      & p{
        font-size: 18px;
      }
      &--price::before{
        left: 110px;
        top: 35px;
      }
      &--repair::before{
        left: 105px;
        top: 35px;
      }
      &--auto::before{
        left: 110px;
        top: 35px;
      }
      &--tv {
        & p{
          padding: 0 25px;
        }
        &::before {
          left: 110px;
          top: 35px;
        }
      }
    }
  }
}
