.feature{
  background-color: $bg-black;
}
.features{
  @include flexDsp();
  color: #ffffff;
  &__item{
    flex-basis: 25%;
    padding-top: 125px;
    padding-bottom: 70px;
    text-align: center;
    position: relative;
    & p {
      margin: 0;
      padding: 0 33px;
    }
    &--price::before{
      @include pseudoEl(43px,52px);
      background-image: url(/img/icons/tag.svg);
      background-size: cover;
      top: 48px;
      left: 130px;
    }
    &--repair::before{
      @include pseudoEl(47px,47px);
      background-image: url(/img/icons/settings.svg);
      background-size: cover;
      top: 53px;
      left: 124px;
    }
    &--auto::before{
      @include pseudoEl(45px,45px);
      background-image: url(/img/icons/wrench.svg);
      background-size: cover;
      top: 53px;
      left: 124px;
    }
    &--tv::before{
      @include pseudoEl(45px,32px);
      background-image: url(/img/icons/wifi-light.svg);
      background-size: cover;
      top: 60px;
      left: 124px;
    }
  }
}
@media(max-width: $tablet) {
  .features__item--price::before{
    left: 102px;
}
  .features__item--repair{
    &::before{
      left: 105px;
    }
    & p{
      padding: 0 10px;
    }
  }
}
