.main-footer{
  background-color: $bg-black;
  padding-top: 80px;
  padding-bottom: 85px;
}
.footer-info{
  @include flexDsp();
}
.logo-footer{
  width: 177px;
  height: 106px;
}
.footer-menu{
  margin-left: 90px;
  @include flexDsp();
  &__link{
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    color: #ffffff;
    &:hover{
      color: #e1e1e1;
    }
  }
  &__column{
    margin-right: 115px;
    &--second{
      margin-right: 105px;
    }
    &--third{
      margin-right: 60px;
    }
  }
}
.footer-contact{
  text-align: right;
  &__time{
    margin: 0;
    color: #c3c3c3;
    font-size: 15px;
    font-weight: 500;
  }
  &__phone{
    display: block;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 11px;
    margin-bottom: 15px;
    &--second{
      margin-top: 0;
    }
  }
  &__shema{
    display: inline-block;
    margin-left: auto;
  }
}
.footer-copyright{
  text-align: right;
  margin-top: 10px;
  & p {
    margin: 0;
    color: #9d9d9d;
    font-size: 13px;
    font-weight: 500;
  }
}
@media(max-width: $tablet) {
  .footer-menu {
    flex-basis: 50%;
  }
  .footer-menu__column--second{
    margin-right: 20px;
    flex-basis: 40%;
  }
  .footer-menu__column--first{
  }
  .footer-menu__column--third{
    margin-right: 20px;
    flex-basis: 40%;
    margin-left: auto;
  }
}
@media(max-width: $small-tablet) {
.footer-menu{
  margin-left: 10px;
  &__column{
    margin-right: 10px;
  }
}
}
@media(max-width: $mobile) {
  .main-footer{
    padding: 40px 0 30px;
  }
  .footer-copyright{
    margin-top: 50px;
    text-align: center;
    & p{
      font-size: 16px;
    }
  }
  .logo-footer{
    order:3;
    margin-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-menu{
    flex-basis: 100%;
    text-align: center;
    margin-left: 0;
    &__link{
      font-size: 21px;
      line-height: 60px;
      font-weight: 500;
    }
    &__column{
      width: 100%;
      margin-right: 0;
      &--second{
        display: none;
      }
      &--third{
        display: none;
      }
    }
  }
  .footer-contact{
    @include flexDsp();
    flex-basis: 100%;
    flex-direction: column;
    margin-top: 55px;
    text-align: center;
    &__phone{
      order:1;
      font-size: 21px;
      margin-bottom: 10px;
    }
    &__time{
      order: 2;
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
    }
    &__shema{
      display: none;
    }
  }
}
