.header-menu{
  padding: 0 15px;
  height: 60px;
}
.main-menu{
  @include flexDsp();
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  &__item{
    flex-basis: 16%;
    text-align: center;
    position: relative;
    flex-grow: 1;
    background-color: transparent;
    transition: background-color 500ms;
    &--contact{
      display: none;
    }
    &:hover{
      background-color: $blue-color;
      transition: background-color 500ms;
    }
  }
  &__link{
    color: #ffffff;
    font-size: 15px;
    line-height: 60px;
    display: block;
  }
}
.dropdown-menu{
  position: absolute;
  display: none;
  background-color: rgb(225, 225, 225);
  top: 60px;
  width: 1170px;
  height: 547px;
  // пока нет галерии в верхнем меню
  // left: -216px;
  left: -234px;
  //
  &--open{
    display: block;
    animation: show 1s;
  }
}
.dropdown-toggle{
  position: relative;
  &::after{
    @include pseudoEl(20px, 20px);
    transform: rotate(180deg);
    width: 10px;
    height: 5px;
    position: absolute;
    right: 28%;
    top: 28px;
    background-image: url(../img/icons/dropdown-arrow.svg);
    transition: transform 500ms;
  }
  &--open::after{
    transition: transform 500ms;
    transform: rotate(0deg);
  }
}
.submenu-list{
  @include flexDsp;
  justify-content: flex-start;
  padding: 0 0 0 10px;
  list-style: none !important;
  list-style-type: none !important;
  &__item{
    list-style: none !important;
    list-style-type: none !important;
    flex-basis: 14%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    transition: background-color 1s;
    &:hover{
      background-color: #fff;
      transition: background-color 600ms;
    }
    & a{
      font-size: 15px;
      font-weight: 600;
      color: rgb(35, 35, 35);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: center;
      height: 100%;
      & img{
        align-self: center;
        margin-top: auto;
        margin-bottom: auto;
      }
      & p {
        margin: 10px 14px;
      }
    }
  }
}
@keyframes show {
  0% {opacity: 0}
  100% {opacity: 1}
}
@media(max-width: $tablet){
  .dropdown-toggle::after{
    right: 42px;
  }
  .dropdown-menu{
    width: 1000px;
    // нет галерии
    left: -205px;
    // left: -170px;
    //
  }
  .submenu-list__item{
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
}
@media(max-width: $small-tablet){
  .dropdown-menu{
    width: 750px;
    // нет галерии
    left: -152px;
    // left: -130px;
    //
  }
  .dropdown-toggle::after{
    right: 20px;
  }
  .submenu-list__item a img{
    width: 60%;
    height: auto;
  }
}
@media(max-width: $mobile) {
  .header-menu{
    height: auto;
  }
  .main-menu{
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    justify-content: flex-start;
    &__item{
      transition: none;
      flex-grow: 0;
      flex-basis: auto;
      width: 100%;
      height: 60px;
      &--dropdown{
        display: none;
      }
      &--contact{
        display: initial;
        margin-top: 45px;
        font-size: 21px;
      }
      &:hover{
        background-color: #ffffff;
        transition: none;
        color: $blue-color;
      }
    }
    &__link{
      color: $font-color;
      font-size: 21px;
      font-weight: 500;
      &--phone{
        line-height: 31px;
      }
      &--phone-second{
        line-height: 31px;
      }
      &--mail{
        font-size: 18px;
        line-height: 65px;
      }
      &:hover{
        background-color: #ffffff;
        transition: none;
        color: $blue-color;
      }
    }
  }
}
