.header-menu{
  padding: 0 15px;
  height: 60px;
}
.main-menu{
  @include flexDsp();
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  &__item{
    flex-basis: 16%;
    text-align: center;
    position: relative;
    flex-grow: 1;
    background-color: transparent;
    transition: background-color 500ms;
    &:hover{
      background-color: $blue-color;
      transition: background-color 500ms;
    }
  }
  &__link{
    color: #ffffff;
    font-size: 15px;
    line-height: 60px;
    display: block;
  }
}
.dropdown-menu{
  position: absolute;
  display: none;
  background-color: rgb(225, 225, 225);
  top: 60px;
  width: 1170px;
  height: 547px;
  left: -216px;
}
.dropdown-toggle{
  position: relative;
  &::after{
    @include pseudoEl(20px, 20px);
    transform: rotate(180deg);
    width: 10px;
    height: 5px;
    position: absolute;
    right: 52px;
    top: 28px;
    background-image: url(/img/icons/dropdown-arrow.svg);
  }
}
