.main{
  background-color: #cccccc;
}
.main-content{
  background-color: #fff;
  padding: 90px 0 70px;
  &__title{
    margin-top: 0;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    @include firstLet();
  }
}
.article-content{
  @include flexDsp();
  &__column{
    flex-basis: 48%;
    & p {
      color: #6e6666;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
    }
    &--first p{
      padding-right: 30px;
      &+img{
          margin-top: 40px;
          margin-bottom: 45px;
      }
    }
    &--second p {
      padding-left: 35px;
      &+img{
        margin-bottom: 75px;
      }
    }
  }
}
.article-content_service{
  @include flexDsp();
  &__one-column{
    flex-basis: 100%;
  }
  & p {
    color: #6e6666;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  & li {
    color: #6e6666;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  &__text{
    flex-basis: 60%;
    & p {
      color: #6e6666;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
    }
    & li {
      color: #6e6666;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
    }
    &--right{
      & p{
        padding-left: 30px;
      }
    }
  }

  &__img{
    flex-basis: 37%;
    margin-top: 20px;
    align-self: center;
    text-align: center;
    &--left{
      padding-right: 12px;
    }
  }

}
@media(max-width: $mobile) {
  .main{
    background-color: #fff;
  }
  .main-content{
    padding-top: 35px;
    padding-bottom: 60px;
    &--services{
      padding-bottom: 0;
    }
    &__title{
      font-size: 28px;
      &--services{
        margin-top: 10px;
      }
    }
  }
  .article-content__column {
    flex-basis: 100%;
    margin-left: 10px;
    margin-right: 7px;
    &--second p {
      padding-left: 0;
    }
  }
  .article-content_service{
    padding: 0 10px;
    &__text{
      flex-basis: 100%;
    }
    &__img {
      flex-basis: 100%;
      &--left{
        order: 4;
        padding-right: 0;
      }
    }
  }
}
