.photo-gallery{
  height: 815px;
  background-image: url(../img/bg-photo.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
  &__title{
    @include firstLet();
    font-size: 48px;
    font-weight: 700;
    margin-top: 70px;
    color: #ffffff;
    text-align: center;
  }
}
.slider-wrapper{
  text-align: center;
  position: relative;
  & img{
    box-shadow: 13px -13px 0px 0px rgba(21, 114, 230, 0.8),
    26px -26px 0px 0px rgba(21, 114, 230, 0.8);
  ;
  }
}
.swiper-container .swiper-button-prev{
  position: absolute;
  background-image: url(../img/icons/arrow-prev.svg);
  width: 11px;
  height: 23px;
  background-repeat: no-repeat;
  top: 260px;
  left: 80px;
  display: block;
  background-size: auto;
  &--price{
    background-image: url(../img/icons/prev-black.svg);
    width: 9px;
    height: 18px;
    left: 10px;
    top: 280px;
  }
}
.swiper-container .swiper-button-prev.swiper-button-disabled, .swiper-container .swiper-button-next.swiper-button-disabled {
  opacity: 0.7;
}
.slider-container{
  position: relative;
}
.swiper-container.slider-container{
  padding-top: 30px;
  padding-bottom: 40px;
}
.swiper-container .swiper-button-next{
  position: absolute;
  display: block;
  background-image: url(../img/icons/arrow-next.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 23px;
  top: 260px;
  right: 60px;
  background-size: auto;
  &--price{
    background-image: url(../img/icons/next-black.svg);
    width: 9px;
    height: 18px;
    right: 10px;
    top: 280px;
  }
}
.swiper-pagination .swiper-pagination-bullet{
  background-color: #fff;
  opacity: 1;
  &-active{
    background-color: $blue-color;
  }
}
.swiper-pagination{
  text-align: center;
}
.swiper-pagination__bullet{
  width: 6px;
  display: inline-block;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 3px;
  &--active{
    background-color: $blue-color;
    width: 8px;
    height: 8px;
    margin-top: 1px;
  }
}
@media(max-width: $tablet) {
  .slider-wrapper img {
    width: 748px;
    height: 426px;
  }
}
@media(max-width: $small-tablet) {
  .slider-wrapper img {
    width: 550px;
    height: auto;
  }
  .photo-gallery{
    height: auto;
  }
  .swiper-container .swiper-button-next {
    top: 170px;
    right: 50px;
  }
  .swiper-container .swiper-button-prev {
    top: 170px;
    left: 70px;
  }
}
@media(max-width: $mobile) {
  .photo-gallery{
    background-image: none;
    &__title{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 28px;
      color: $font-color;
    }
  }
  .slider-wrapper img {
    box-shadow: none;
  }
  .swiper-container .swiper-button-next{
    display: none;
  }
  .swiper-container .swiper-button-prev{
    display: none;
  }
  .swiper-pagination .swiper-pagination-bullet{
    background-color: #d9d9d9;
    &-active{
      background-color: $blue-color;
    }
  }
}
