.photo-gallery{
  height: 815px;
  background-image: url(/img/bg-photo.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
  &__title{
    @include firstLet();
    font-size: 48px;
    font-weight: 700;
    margin-top: 70px;
    color: #ffffff;
    text-align: center;
  }
}
.slider-wrapper{
  text-align: center;
  & img{
    box-shadow: 13px -13px 0px 0px rgba(21, 114, 230, 0.8),
    26px -26px 0px 0px rgba(21, 114, 230, 0.8);
  ;
  }
}
