.btn-colapse{
  box-shadow: 1px 21px 51px 8px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  width: 100%;
  padding: 20px 47px;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  position: relative;
  cursor: pointer;
  &--faq{
    padding-right: 95px;
  }
  &::after{
    position: absolute;
    background-image: url(../img/icons/arrow-down.svg);
    width: 18px;
    height: 9px;
    right: 72px;
    top: 30px;
    content: "";
    display: block;
  }
  &--show{
    color:$blue-color;
    &::after{
      background-image: url(../img/icons/arrow-up-blue.svg);
    }
  }
}
.banner-price{
  padding: 35px 0 10px;
}
.price-page{
  background-image: url(../img/price-bg.png);
  background-repeat: no-repeat;
  background-position: 0% 120%;
}
.slide-wrap-page .swiper-pagination{
  display: none;
}
.price-slider{
  padding-top: 115px;
  padding-bottom: 110px;
  width: 1260px;
  margin: 0 auto;
  box-sizing: border-box;
  @include flexDsp();
  flex-wrap: nowrap;
  & .services__item{
    flex-shrink: 0;
    margin-right: 33px;
    margin-bottom: 0;
  }
}
.price-service.swiper-container{
  padding-right: 40px;
  padding-left: 40px;
}
.colapse{
  padding-bottom: 65px;
  background-color: #fff;
  display: none;
  box-sizing: border-box;
  &--show{
    display: block;
  }
}
@media(max-width: $tablet) {
  .price-page{
    background-image: none;
  }
}
@media(max-width: $mobile) {
  .slide-wrap-page .swiper-pagination{
    display: block;
  }
  .slide-wrap-page{
    & .services__item {
      margin-left: auto;
      margin-right: auto;
      width: 269px;
      height: 308px;
  }
    & .services__img{
      display: block;
    }
  }
  .price-service.swiper-container{
    padding-right: 10px;
    padding-left: 10px;
  }
  .btn-colapse{
    padding-right: 50px;
    padding-left: 10px;
    &--faq{
      padding-right: 15px;
    }
    &::after{
      right: 7%;
    }
  }
  .price-slider {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}
