.btn-colapse{
  box-shadow: 1px 21px 51px 8px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  width: 100%;
  padding: 10px 47px;
  border: 0;
  margin-bottom: 1px;
}
.banner-price{
  padding: 35px 0 80px;
}
